/* ============================= */
/*            NAV              */
/* ============================= */

header nav {
    background-color: #26a69a;
  }
  
  .nav-wrapper img {
    width: 85px;
    height: 75px;
    object-fit: contain;
  }
  
  /* ============================= */
  /*            HERO             */
  /* ============================= */
  
  .parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }
  
  /* ============================= */
  /*         SECCIÓN DE CARTAS   */
  /* ============================= */
  
  .main h2 {
    font-size: 20px;
    color: #000;
  }
  
  .main .tips {
    background-color: #26a69a;
    padding: 0.5rem;
  }
  
 
  .card .card-image img {
    height: 350px;
    width: 100%;         
    object-fit: cover;   
  }

  .card .card-title {
    position: static !important; 
    display: block; 
    text-align: center; 
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
}

  
  /* ============================= */
  /*       AJUSTES RESPONSIVOS   */
  /* ============================= */
  
  @media screen and (max-width: 600px) {
    
    .nav-wrapper img {
      width: 70px;
      height: 60px;
    }
  
    .parallax-container {
      height: 300px;
    }
    
    .card .card-image img {
      height: 250px;
    }
    
    .main h2 {
      font-size: 18px;
    }
  }
  